@font-face
  font-family: "inter-regular"
  src: url(../../fonts/static/Inter-Regular.ttf)

@font-face
  font-family: "inter-light"
  src: url(../../fonts/static/Inter-Light.ttf)

@font-face
  font-family: "inter-extra-light"
  src: url(../../fonts/static/Inter-ExtraLight.ttf)

*
  padding: 0
  margin: 0
  box-sizing: border-box

  &::after , &::before
    padding: 0
    margin: 0

body
  background-color: var(--color-primary)
  min-height: 100dvh
  font-size: 16px

.container
  max-width: 1194px
  width: 100%
  margin: 0 auto
  padding: 0 10px

.button-1
  background-color: var(--color-green)
  outline: none
  border: none
  color: var(--color-white)
  padding: 20px 35px
  border-radius: 10px
  font-size: 1em
  cursor: pointer
  font-family: "inter-regular", sans-serif
  transition: background-color 0.2s ease-in-out
  &:hover
    background-color: var(--color-green-1)

  &:active
    background-color: var(--color-green-2)

  &:disabled
    background-color: var(--color-gray)

.button-2
  background-color: transparent
  outline: none
  border: 2px solid var(--color-white)
  color: var(--color-white)
  padding: 18px 35px
  border-radius: 10px
  font-size: 1em
  cursor: pointer
  font-family: "inter-regular", sans-serif
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out
  &:hover
    border-color: var(--color-green-1)
    color: var(--color-green-1)

  &:active
    color: var(--color-green-2)

  &:disabled
    color: var(--color-gray)

@media screen and (max-width: 768px)
  .button-1, .button-2
    font-size: 0.9em

  .button-1
      padding: 10px 25px

  .button-2
     padding: 8px 25px

a
  text-decoration: none
  color: inherit
