.primary-header
  margin-top: 200px

  .container-inner
    display: flex
    flex-direction: column


    .primary-header-h1
      min-height: 200px
      position: relative

      img 
        position: absolute
        z-index: -1
        left: 230px
        top: -20px

      h1
        text-align: center
        font-size: 70px
        color: var(--color-white)
        font-family: 'inter-regular', sans-serif

    .primary-header-subtitle
      p
        opacity: 0.6
        color: var(--color-white)
        font-family: 'inter-regular', sans-serif
        text-align: center

    .primary-header-buttons
      display: flex
      justify-content: center
      gap: 32px
      margin-top: 48px

    .primary-header-info
      margin-top: 40px
      display: flex
      justify-content: center
      gap: 25px
      p
        color: var(--color-white)
        font-family: 'inter-regular', sans-serif
        span
          opacity: 0.6
        i
          color: var(--color-green)
          opacity: 1
